.layout-container{
  background-color: #424242;
  height: 100vh;
}
.template-container{
  height: 100vh;
  background-color: #a1a1a1;
  position: relative;
}
.template-banner{
  background-color: #1b1b1b;
  height: 50px;
  text-align: center;
  color: #FFFF;
}

.template-banner i{
  margin-top: 10px;
}

.footer-bar{
  background-color: #1b1b1b;
  height: 30px;
  position: absolute;
  bottom: 0;
}

.slider-container{
  right: 0;
  margin-top: 15px;
  position: absolute;
}
span{
  color: #FFFF;
  position: absolute;
  top:0;
  right: 0;
  margin-top: -20px;
  margin-right: 90px;
}

.widgetTemplate{
  min-height: 100px;
  /* background-color: red; */
}
.focus{
  border: 3px dashed #7c9dff;
}
