  <!-- <div class="col-5" *ngIf="widget.type === 'card'">
    <p-card>
      Content
    </p-card>
  </div> -->

  <!-- <div class="col-5" *ngIf="widget.type === 'card-header'">
    <p-card>
      <ng-template pTemplate="header">
          Header content here
      </ng-template>
      Body Content
      <ng-template pTemplate="footer">
          Footer content here
      </ng-template>
  </p-card>
  </div> -->

  <ng-container *ngIf="widget.type === 'card'">
    <p-card>
      Content
    </p-card>
  </ng-container>

  <ng-container *ngIf="widget.type === 'card-header'">
    <p-card>
      <ng-template pTemplate="header">
          Header content here
      </ng-template>
      Body Content
      <ng-template pTemplate="footer">
          Footer content here
      </ng-template>
  </p-card>
  </ng-container>

  <ng-container *ngIf="widget.type === 'table'">
    <p-table [value]="products" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>{{product.code}}</td>
              <td>{{product.name}}</td>
              <td>{{product.category}}</td>
              <td>{{product.quantity}}</td>
          </tr>
      </ng-template>
  </p-table>
  </ng-container>

  <ng-container *ngIf="widget.type === 'knob'">
    <!-- <p-knob [(ngModel)]="value" [min]="-50" [max]="50" [readonly]="true"></p-knob> -->

  </ng-container>
